* {
  box-sizing: border-box;
}

 /* Elements  */
h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: center;
}

/* IDs */

#projectList {
    display: flex;
    flex-direction: column;
}

#taskList {
    display: flex;
    flex-direction: column;
}

/* Classes */

.textfield {
    border: thin solid black;
    width: 200px;
}

.hidden {
    display: none;
}